/*tr.wbdv-nav th {
    width: 12%;
    color: #808080;
}

tr.wbdv-form td {
    width: 12%;
}

tr.wbdv-template td {
    width: 12%;
}

.formSpace {
    width: 28%;
}

td.formButton {
    width: 16%;
}

tbody {
    padding: 0;
    margin: 0;
}

td.wbdv-actions {
    width: 16%;
}*/